# Copy this file to .env and replace the credentials with 
# your own before running the console app.

# Event Streams (NOTE: remove all quotes and spaces from values)
KAFKA_BROKERS_SASL=broker-4-6qxhmc6jpwdjbhrd.kafka.svc09.us-south.eventstreams.cloud.ibm.com:9093
KAFKA_HTTP_URL=https://6qxhmc6jpwdjbhrd.svc09.us-south.eventstreams.cloud.ibm.com
PASSWORD=4AYjniDFzSNb60ptq5rGj251HkOJq6IjtRd-7WrONrLv

# User and Topic name are set to default values. Change if needed
USER=token
TOPIC=wit-topic
